body {
    /* 头部高度 */
    --header-height: 3rem;
    /* 侧边栏宽度 */
    --aside-width: 16rem;
}
/* 网站主体容器 */
#website-container {
    min-height: 100vh !important;
}
/* 头部 */
.header {
    min-height: var(--header-height);
    width: 100%;
    z-index: 100;
}
.header .header-fixed-box {
    height: inherit;
    z-index: inherit;
}
.header .header-fixed-box .header-logo,
.header .header-fixed-box .header-logo .header-logo-fixed-box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: var(--header-height);
    width: var(--aside-width);
    flex-basis: var(--aside-width);
}
.header .header-fixed-box .header-aside-toggle {
    display: none;
}
/* 身体 */
.subject {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - var(--header-height));
    overflow-x: hidden;
}
/* 侧边栏 */
.subject .subject-aside {
    flex: 0 0 var(--aside-width);
    max-width: 100%;
    transition: all .3s;
}
.subject .subject-aside .subject-aside-fixed-box.position-fixed {
    max-height: calc(100vh - var(--header-height));
    overflow-y: auto;
    overflow-x: hidden;
}
/* 主要容器 */
.subject .subject-content {
    flex: 0 0 calc(100% - var(--aside-width));
    transition: all .3s;
}

@media screen and (max-width: 767px) {
    /* 头部 */
    .header .header-fixed-box{
        position: fixed;
    }
    .header .header-fixed-box .header-aside-toggle {
        display: inline-block;
    }
    .header .header-fixed-box .header-logo {
        flex-basis: auto;
        flex-grow: 1;
        width: auto;
    }
    .header .header-fixed-box .header-logo .header-logo-fixed-box {
        width: inherit;
        justify-content: center;
    }
    /* 身体 */
    .subject .subject-aside .subject-aside-fixed-box {
        position: fixed;
        max-height: calc(100vh - var(--header-height));
        overflow-y: auto;
        overflow-x: hidden;
    }
    .subject .subject-aside.hide {
        margin-left: calc(var(--aside-width) * -1);
    }
    .subject .subject-aside.show {
        margin-left: 0;
    }
    .subject .subject-content {
        flex-basis: 100%;
    }
}