html {
    font-size: 16px;
}

* {
    scrollbar-width: 10px;
    scrollbar-base-color: green;
    scrollbar-track-color: red;
    scrollbar-arrow-color: blue;
}

.fs-7 {
    font-size: 0.8rem;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-gray-300);
    border-radius: 5px;
}

.overflow-x-visible {
    overflow-x: visible !important;
}

.overflow-y-visible {
    overflow-y: visible !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.overflow-x-auto {
    overflow-x: auto !important;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.border-dashed-bottom {
    border-bottom: 2px dashed var(--bs-dark);
}

.border-dashed-top {
    border-top: 2px dashed var(--bs-dark);
}

.top-75 {
    top: 75% !important;
}

.top-25 {
    top: 25% !important;
}

.start-75 {
    left: 75% !important;
}

.start-25 {
    left: 25% !important;
}

.rounded-start-0 {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.rounded-end-0 {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
.rounded-top-0 {
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
}
.rounded-bottom-0 {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.translate-top {
    transform: translateY(-100%);
}
.translate-bottom {
    transform: translateY(100%);
}
.translate-start {
    transform: translateX(-100%);
}
.translate-end {
    transform: translateX(100%);
}