@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'modul';
        src: url('./assets/font/modul/Modulo.otf');
    }
    @font-face {
        font-family: 'uniwide';
        src: url('./assets/font/uniwide/UniWide/UniWide.otf');
    }
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: lightgray;
    }
}

@layer components {
    .slide-subpanel {
        @apply w-1/2 h-1/2 relative flex-shrink-0 overflow-hidden;
    }
    .maximize-btn {
        @apply bg-gray-800 text-white border-0 hover:bg-slate-600 px-1 absolute z-50;
    }
}

@layer utilities {
    .disable-event {
        @apply blur-sm pointer-events-none;
    }
    .backdrop-card>.card-content {
        @apply bg-white px-2 absolute w-full h-full top-0 left-0 flex justify-center items-center;
    }
}