@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'modul';
        src: url('./assets/font/modul/Modulo.otf');
    }
    @font-face {
        font-family: 'uniwide';
        src: url('./assets/font/uniwide/UniWide/UniWide.otf');
    }
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: lightgray;
    }
    .hide-scrollbar::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    .hide-scrollbar {
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }
    .text-shadow {
        text-shadow: -.2rem -.2rem 1rem black, .2rem .2rem 1rem black;
    }
}

@layer utilities {
    .disable-event {
        @apply blur-sm pointer-events-none;
    }
    .backdrop-card>.card-content {
        @apply bg-white px-2 absolute w-full h-full top-0 left-0 flex justify-center items-center;
    }
}